/*reset*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  color: aliceblue;
}
/*Clases del fondo*/
.tittle1{
  background-image: url("../public/assets/fondo1.jpg");
}
.tittle1 h1{
  text-shadow: 5px 5px 10px rgb(3, 71, 7),
               -5px -5px 10px rgb(3, 71, 7),
               5px -5px 10px rgb(3, 71, 7),
               -5px 5px 10px rgb(3, 71, 7);
}



.tittle2{
  background-image: url("../public/assets/fondo2.jpg");
}
.tittle2 h1{
  text-shadow: 5px 5px 10px red,
               -5px -5px 10px red,
               5px -5px 10px red,
               -5px 5px 10px red;
}



.tittle3{
  background-image: url("../public/assets/fondo3.jpg");
}
.tittle3 h1{
  text-shadow: 5px 5px 10px rgb(107, 105, 0),
               -5px -5px 10px rgb(107, 64, 0),
               5px -5px 10px rgb(107, 64, 0),
               -5px 5px 10px rgb(107, 64, 0);
}



.tittle4{
  background-image: url("../public/assets/fondo4.jpg");
}
.tittle4 h1{
  text-shadow: 5px 5px 10px rgb(3, 1, 116),
               -5px -5px 10px rgb(3, 1, 116),
               5px -5px 10px rgb(3, 1, 116),
               -5px 5px 10px rgb(3, 1, 116);
}


/* app*/
.app h1{
  font-size: 40px;
}
.app p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 550px;
  text-align: center;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.author{
  font-size: 18px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  text-align: end !important;
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../public/assets/textBg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  padding: 10px 30px;
  max-width: 450px;
  min-width: 450px;
  max-height: 110px;

  position: relative;
  top: 80px;
  z-index: 1;
}
/*animacion de cierre y apertura del texto */
.animationText{
  animation-name: animationText;
  animation-duration: 2.5s;
}
/*galletas de los laterales*/
.containerCoockie{
  display: flex;
  flex-direction:row;

}

.left,
.rigth {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  z-index: 2;
}

.left{
  background-image: url("../public/assets/cookie-left.png");
}
.animationLeft{
  animation-name: animationCookieL;
  animation-duration: 2.5s;
}
.rigth{
  background-image: url("../public/assets/cookie-rigth.png");
}
.animationRight{
  animation-name: animationCookieR;
  animation-duration: 2.5s;
}
/*Boton que cambia frase y fondo*/
.app button{
  font-size: 18px;
  background-color: transparent;
  color: white;
  font-family:fantasy;
  text-shadow: 2px 2px black,
               -2px -2px black,
               -2px 2px black,
               2px -2px black;
  border: 0;
  box-shadow:   5px 5px 10px rgb(240, 93, 93);
  padding: 5px;
  cursor: pointer;
}
.buttonRandom:hover{
  transform: scale(1.1);
  color: black;
  font-family:fantasy;
  text-shadow: 2px 2px white,
               -2px -2px white,
               -2px 2px white,
               2px -2px white;
  box-shadow:   5px 5px 10px rgb(81, 255, 0);
  background-color: rgba(255, 255, 255, 0.24);
}

/*animaciones de galletas y texto */

@keyframes animationCookieL {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(225px);
  }  
}
@keyframes animationCookieR{
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-225px);
  }  
}

@keyframes animationText {
  0%, 100% {
    transform: scaleX(100%)

  }
  50% {
    transform: scaleX(0%)
  }
  
}

/*media queries para mobile*/

@media (max-width: 550px){
  .app h1{
     font-size: 50px;
     text-align: center;
   }
  .text{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
    height: 100px;
    position: relative;
    top: 55px;
    justify-content: center;
    align-items: center;
  }
  .author{
    font-size: 10px !important;
  }
  .phrase{
    font-size: 15px !important; 
  }


  .containerCoockie .left,
  .containerCoockie .rigth {
    width: 150px;
    height: 150px;
  }
/*animaciones para la version mobile*/
  @keyframes animationCookieL {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(125px);
    }  
  }
  @keyframes animationCookieR{
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-125px);
    }  
  }
}



